* {
    font-family: 'Merriweather Sans', sans-serif;
}

.bg-gradient {
    background-color: #5530D3;
    color: white;
}

#search-button {
    background-color: #5530D3;
    color: white;
}

#search-button:hover {
    background-color: #6456F0;
    color: black;
}


.list-group-item {
    cursor: pointer;
}

#clear-button {
    background-color: #5530D3;
    color: white;
}

#clear-button:hover {
    background-color: #6456F0;
    color: black;
}

main {
    width: 75%;
    padding: 15px;
}